{% extends 'base.html.twig' %}



{% block title %}Liste des objets !{% endblock %}

{% block body %}

	<div class="container">
		<h2 class="text-center mt-5">LES OBJETS</h2>
		<p class="text-center mb-3">Bienvenue sur l'ensemble des OBJETS</p>

<!-- Search section -->
<div class="row align-items-center">
    <div class="d-flex w-100">
        <!-- Première barre de recherche + bouton -->
        <div class="flex-grow-1 me-2 d-flex">
            {{ form_start(form, {'attr': {'class': 'd-flex w-100'}}) }}
            <div class="flex-grow-1">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher...' }}) }}
            </div>
            <button type="submit" class="btn btn-primary ms-2">Filtrer</button>
            {{ form_end(form) }}
        </div>

        <!-- Deuxième barre de recherche + bouton -->
        <div class="flex-grow-1 d-flex">
            <div class="flex-grow-1">
                {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
            </div>
            <button type="submit" class="btn btn-success ms-2">Rechercher</button>
        </div>
    </div>
</div>


<!-- Card Section -->
<div class="container m-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for objet in objets %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- Image de l'objet -->
                    <img src="{{ vich_uploader_asset(objet, 'imageFile') }}" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;" alt="image">
                    
                    <div class="card-body d-flex flex-column">
                        <!-- Affichage des catégories -->
                        <div class="d-flex flex-wrap mt-1">
                            {% for categorie in objet.categories %}
                                <span class="badge text-bg-primary mx-1 mb-2">{{ categorie.nom }}</span>
                            {% endfor %}
                        </div>
                        
                        <h2 class="card-title">{{ objet.titre }}</h2>
                        <p class="card-text flex-grow-1">{{ objet.description }}</p>

                        <!-- Affichage des modalités -->
                       
                            <div class="d-flex flex-wrap mt-2">
                               
                                <p class="card-text flex-grow-1">{{ objet.modalite }}</p>     
                                
                            </div>
                   
                    </div>

                    <!-- Footer de la carte avec les boutons -->
                    <div class="card-footer d-flex">
                        <a href="{{path ('app_objet_show', {'id': objet.id }) }}" class="btn btn-primary">Voir</a>
                        <a href="" class="btn btn-warning ms-2">Modifier</a>
                        <a href="" class="btn btn-danger ms-2">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
